<h1 class="mt-5">New Recipe Form</h1>

<form class=pt-3 method = "POST" action="/recipes">
  <div class="form-group">
    <label for="recipeName">Recipe: </label>
    <input type="text" class="form-control" id="recipeName" placeholder="Recipe Name" name="recipeName">
  </div>
  <div class="form-group">
    <label for="recipeDescription">Description: </label>
    <input type="text" class="form-control" id="recipeDescription" placeholder="Recipe Description..." name="recipeDescription">
  </div>

  <input type="submit" class="btn btn-primary btn-block"></input>
</form>
